.tinyterm
  position: absolute
  top: 0
  left: 0
  overflow-x: hidden
  height: 100%
  width: 100%
  box-sizing: border-box
  margin: 0
  padding: 0.5em
  font-family: monospace
  text-shadow: 0 0 0.1em $cfg + #111
  color: $cfg
  background: $cbg
  background: radial-gradient($cbg + #080808, $cbg - #080808) 100% 100%
  box-shadow: 0 0 4px $cbg - #222 inset
  transition: background 0.06s

  form, textarea, pre, code
    line-height: 1.5em

  &.flash
    background: $cbg + #888

  form
    position: relative
    width: 100%

    &::before
      content: ">"
      position: absolute
      left: 0

  .expander
    position: relative

  textarea, pre, code
    word-wrap: break-word

  textarea, pre
    width: 100%
    margin: 0
    padding: 0
    border: 0
    outline: 0
    white-space: pre-wrap

  textarea
    position: absolute
    top: 0
    left: 0
    overflow: hidden
    height: 100%
    width: 100%
    box-sizing: border-box
    resize: none
    background: transparent

  pre
    visibility: hidden

  code
    display: block

.tinytermFontProbe
  position: absolute
  right: -100%
